nav{
    display: flex;
    background-color: red;
}
#contenedorContenidoNav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
    margin-right: 1em;
    width: 100%;
}