{% extends 'appmustafa/base.html' %}
{% block titulo %}Animales{% endblock titulo %}
{% block contenido %}

    {% for animal in animales %}
    <img src="{{ animal.imagen.url }}" alt="Imagen de {{ animal.nombre }}" width="300">
    <div class="card-body">
      <h5 class="card-title">{{animal}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="{% url 'detalleAnimales' pk=animal.pk  %}" class="btn btn-primary">Go somewhere</a>
    </div>
    {% endfor %}


{% endblock contenido %}
